.Header {
    position: absolute;
    width: 1440px;
    height: 84px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
}

#headerTitle {
    position: absolute;
    width: 120px;
    height: 38px;
    left: 24px;
    top: 23px;
    /* left: calc(50% - 120px/2 - 636px);
    top: calc(50% - 38px/2 - 1394.5px); */
    font-family: SCDream3;
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
}

@font-face {
    font-family: 'SCDream3';
    src: local('SCDream3'), url(../fonts/SCDream3.otf) format('woff');
}